<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>где я батрачила</title>
    <script type="text/javascript" src="/static/main.js"></script>
</head>
<body>
    <h1>input company name and term of work</h1>

    <form>
        <div>
            <input type="text" name="company" id="company">
            <label for="company">company</label>
        </div>
        <div>
            <input type="number" name="term" id="term">
            <label for="term">term (in months)</label>
        </div>
        <div>
            <button onClick="createWork()" type="button">
                add
            </button>
        </div>
    </form>

    <ul>
        {% for work in works_list %}
        <li>
            <div>
                <div>
                    {{ work['company'] }}
                </div>
                <div>
                    {{ work['term'] }} months
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</body>
</html>